@model IEnumerable<FitnessCenter.Entities.Coach>
@{
    ViewBag.Title = "Index";
}

<h2>Тренеры</h2>
<button type="button" class="btn btn-danger">@Html.ActionLink("Add", "Add")</button>
<button type="button" class="btn btn-danger">@Html.ActionLink("FindLastName", "FindLastName")</button>
<button type="button" class="btn btn-danger">@Html.ActionLink("FindByPhone", "FindByPhone")</button>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>MiddelName</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var coach in Model)
         {
            <tr>
                <th>@coach.Id</th>
                <th>@coach.FirstName</th>
                <th>@coach.LastName</th>
                <th>@coach.MiddleName</th>
                <th>@coach.Phone</th>
                <th>@Html.ActionLink("Delete", "Delete", new { Phone = coach.Phone })</th>
            </tr>
         }
    </tbody>
</table>

