@model IEnumerable<FitnessCenter.Entities.Client>
    @{
        ViewBag.Title = "Index";
    }

    <h2>Клиенты</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>MiddelName</th>
                <th>SubscriptionNumber</th>
                <th>IdCoach</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model)
            {
            <tr>
                <th>@client.Id</th>
                <th>@client.FirstName</th>
                <th>@client.LastName</th>
                <th>@client.MiddleName</th>
                <th>@client.SubscriptionNumber</th>
                <th>@client.IDCoach</th>
            </tr>
            }
        </tbody>
    </table>